<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.youtubewebview">

    <!-- Izin Internet -->
    <uses-permission android:name="android.permission.INTERNET" />
    
    <!-- Izin untuk mengecek status koneksi internet -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    
    <!-- Izin untuk akses file (opsional) -->
    <uses-permission android:name="android.permission.ACCESS_FILE" />
    
    <!-- Izin untuk menulis cache -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- Izin untuk menjaga layar tetap menyala -->
<uses-permission android:name="android.permission.WAKE_LOCK" />

<!-- Izin untuk koneksi internet (sudah ada) -->


<!-- Izin untuk mengecek status koneksi (sudah ada) -->


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.YouTubeWebView"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        
        <activity
            android:name=".MainActivity"
            
            android:configChanges="orientation|screenSize|keyboardHidden|screenLayout"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            
            <!-- Handle YouTube links -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="https" />
                <data android:host="m.youtube.com" />
                <data android:host="www.youtube.com" />
                <data android:host="youtube.com" />
                <data android:host="youtu.be" />
            </intent-filter>
        </activity>
        
    </application>

</manifest>